# start
<h1 class btn btn-primary btn-sm >My Blog</h1>

<%= link_to 'sign out', destroy_user_session_path, method: :delete %>

<p><%= link_to "Add a new post", new_post_path %></p>

<% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.content%></p>
    <p>
        <%= link_to "Edit", edit_post_path(post) %> ||
        <%= link_to "Delete", post, :confirm => "are You sure?", :method => :delete %>
    </p>
    <hr/>
<% end %>
